// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 h1 {
    
   text-align: center;
 }

 h1_1 { 
   position: absolute; 
   top: 30px; 
   text-align: center;
   font: bold 120px/250px Helvetica, Sans-Serif;
   width: 100%;
   color: #f1c40f; 
}